@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Connections
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="panel card-sign">
	<div class="card-title-sign mt-3 text-right">
		<h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle mr-1 text-6 position-relative top-5"></i> Sign In</h2>
	</div>
	<div class="card-body">
		<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group mb-3">
				<label asp-for="Email"></label>
				<div class="input-group">
					<input asp-for="Email" type="text" class="form-control form-control-lg" autocomplete="off" placeholder="Email" />
					<span class="input-group-append">
						<span class="input-group-text">
							<i class="bx bx-user text-4"></i>
						</span>
					</span>
				</div>
			</div>

			<div class="form-group mb-3">
				<div class="clearfix">
					<label class="float-left">Password</label>
					<a asp-controller="Account" asp-action="ForgotPassword" class="float-right">Forgot Password?</a>
				</div>
				<div class="input-group">
					<input asp-for="Password" type="password" class="form-control form-control-lg" autocomplete="off" placeholder="Password" />
					<span class="input-group-append">
						<span class="input-group-text">
							<i class="bx bx-lock text-4"></i>
						</span>
					</span>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8">
					<div class="checkbox-custom checkbox-default">
						<input asp-for="RememberMe" type="checkbox" value="1" />
						<label asp-for="RememberMe">
							@Html.DisplayNameFor(m => m.RememberMe)
						</label>
					</div>
				</div>
				<div class="col-sm-4 text-right">
					<button type="submit" class="btn btn-primary mt-2">Sign In</button>
				</div>
			</div>

			<p class="text-center">Don't have an account yet? <a href="pages-signup.html">Sign Up!</a></p>

		</form>
	</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
